<footer class="page-footer blue-grey darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12" <p class="grey-text text-lighten-4">Learn More About Me!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Get In Touch</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-github"></i> Git Hub</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-linkedin"></i> Linkedin</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Red Dirt Web And Graphic Design
        </div>
    </div>
</footer>
