<nav class="blue-grey darken-1">
    <div class="container">
        <div class="nav-wrapper">
            <a class="brand-logo center" href="/">Brandon's CourseWork and Projects</a>
            <a class="button-collapse show-on-large" href="#" data-activates="main-menu"><i class="fa fa-bars"></i></a> {{!--Right Nav--}}
            <ul class="right hide-on-small-only">
                <li><a href="/about"><i class="fa fa-user-circle"> About</i></a></li>
                <li><a href="/contact"><i class="fa fa-envelope-o"> Contact</i></a></li>
            </ul>
        </div>
    </div>
</nav>
