#map {
	height: 100vh;
	position: relative;
	width: 100%;
}

#menu-toggle {
	background-color: #2c3e50;
	border-color: rgba(0, 0, 0, 0);
	color: white;
	font-size: 16px;
	outline: none;
	position: absolute;
	transition: 0.5s ease-in-out;
	z-index: 1;
}

#menu-toggle:hover {
	background-color: white;
	color: #2c3e50;
}

.menu-displayed {
	padding-left: 250px;
}

.infoTitle {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 16px;
	margin-bottom: 18px;
}

.info-text {
	font-family: 'Bree Serif', serif;
}

.closed {
	color: #F44336;
}

.open {
	color: #4CAF50;
}